.titulo_1 {
    margin: 50px;
    text-align: center;
    align-items: center;
}

.escrita_alasca {
    text-align: center;
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-left: 330px;
    font-size: 17px;
    line-height: 1.5;
}