.centralizado { 
	overflow:hidden;
}
.centralizado { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.header { 
	background-color:rgb(31, 50, 21);
	width:1440px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
}
.logo-alasca{ 
	width:40px;
	height:35px;
	position:absolute;
	left:1347px;
	top:39px;
}

.baixo { 
	background-color:rgb(31, 50, 21);
	width:1440px;
	height:114px;
	position:absolute;
	left:0px;
	top:910px;
}
.logo { 
	border-radius:500px;
	width:100px;
	height:92px;
	position:absolute;
	left:1295px;
	top:932px;
	background-image:url(image/ALASCA.png);
	background-size:cover;
}
.denani { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:35px;
	position:absolute;
	left:599px;
	top:39px;
	font-family:Gruppo;
	text-align:left;
	font-size:36px;
}
.redes-sociais { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:23px;
	position:absolute;
	left:24px;
	top:887px;
	font-family:Gruppo;
	text-align:left;
	font-size:24px;
}
.cabeçalho1 { 
	width:30px;
	height:30px;
	position:absolute;
	left:70px;
	top:939px;
}
.centralizar-texto{ 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}

.instagram { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:19px;
	position:absolute;
	left:101px;
	top:944px;
	font-family:Gruppo;
	text-align:left;
	font-size:20px;
}
.cabeçalho2 { 
	width:30px;
	height:30px;
	position:absolute;
	left:70px;
	top:981px;
}
.facebook { 
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:24.9375px;
	position:absolute;
	left:3px;
	top:3px;
}
.facebook2 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:19px;
	position:absolute;
	left:101px;
	top:988px;
	font-family:Gruppo;
	text-align:left;
	font-size:20px;
}
.logo-twitter { 
	width:30px;
	height:30px;
	position:absolute;
	left:249px;
	top:939px;
}

.twitter { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:19px;
	position:absolute;
	left:289px;
	top:944px;
	font-family:Gruppo;
	text-align:left;
	font-size:20px;
}
.whatsapp-logo { 
	width:30px;
	height:30px;
	position:absolute;
	left:249px;
	top:980px;
}
.whatsapp { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:25px;
	position:absolute;
	left:2px;
	top:2px;
}
.texto1 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:283px;
	top:985px;
	font-family:Gruppo;
	text-align:left;
	font-size:20px;
}
.texto2 { 
	color:rgba(0, 0, 0, 1);
	width:500px;
	height:62px;
	position:absolute;
	left:14px;
	top:119px;
	font-family:Gruppo;
	text-align:left;
	font-size:64px;
}
.texto3 { 
	color:rgba(0, 0, 0, 1);
	width:562px;
	height:159px;
	position:absolute;
	left:14px;
	top:223px;
	font-family:Gruppo;
	text-align:left;
	font-size:24px;
}
.texto4 { 
	color:rgba(0, 0, 0, 1);
	width:762px;
	height:184px;
	position:absolute;
	left:653px;
	top:198px;
	font-family:Gruppo;
	text-align:left;
	font-size:24px;
}
.texto5 { 
	color:rgba(0, 0, 0, 1);
	width:572px;
	height:161px;
	position:absolute;
	left:14px;
	top:447px;
	font-family:Gruppo;
	text-align:left;
	font-size:24px;
}